.flex-rad{
  display: flex;
  justify-content: center;

     }

.over{
  background-color: yellow;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  justify-content: center;
s
  }

.under{
  display: none;
}

.over:hover .under{
  display: block;
  background-color: red;
  width: 100px;
  height: 20px;
  border-radius: 20px;
  border-style: groove;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: green;
  flex-direction: row;
  margin:auto;
  flex-wrap: wrap;
}
