.flex-rad{
  display: flex;
  justify-content: center;
  max-width:800px;
  margin:auto;
  }

.over{
  background-color: yellow;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  justify-content: center;
  }

.under{
  display: none;
  }

.over:hover .under{
  display: block;
  background-color: red;
  width: 100px;
  height: 20px;
  border-radius: 20px;
  border-style: groove;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:800px;
  background-color: green;
  flex-direction: row;
  margin:auto;

}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width:75%;
  background-color: green;
  flex-direction: row;
  margin-left:auto;

}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: green;
  flex-direction: row;
  margin-right:auto;
  border-style: dotted;
}
